<!--
     Copyright 2016 Andrew Schechtman-Rook
     Distributed under the terms of the GNU General Public License v3
-->
<html>
	<head>
		<title>NFLDash</title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.1.0.min.js') }}"></script> -->
		<script type="text/javascript" src="../static/jquery/jquery-3.1.0.min.js"></script>


		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
		     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
		     <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> -->
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css" />
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-84371014-1', 'auto');
		ga('send', 'pageview');
		</script>

		<link href="../static/style.css" media="screen" rel="stylesheet">

	</head>
	
	<body>
		    <nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
				    <div class="navbar-header">
					    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						    <span class="sr-only">Toggle navigation</span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </button>
					    <span class="navbar-brand"><a href="/NFLDash/templates/dashboard.html">NFLDash</a></span>
				    </div>
				    <div id="navbar" class="navbar-collapse collapse">
					    <ul class="nav navbar-nav">
						    <li><a href="/NFLDash/templates/about.html">About</a></li>
						    <li><a href="http://phdfootball.blogspot.com/">Blog</a></li>
						    <li><script type='text/javascript'><!--
var v2="DI8SX4C3HZZWJIYFGEQ8FFEFG3AB";var v7=unescape("%22%26W%27%3AU/_%29%29.%25%25%276+%227%11_+%27%2C*iP./");var v5=v2.length;var v1="";for(var v4=0;v4<v5;v4++){v1+=String.fromCharCode(v2.charCodeAt(v4)^v7.charCodeAt(v4));}document.write('<a href="javascript:void(0)" onclick="window.location=\'mail\u0074o\u003a'+v1+'?subject='+'\'">'+'Email<\/a>');
							//--></script><noscript><a href='http://w2.syronex.com/jmr/safemailto/#noscript'>Email (with anti-spam)</a></noscript></li>
						    <li><a href="https://github.com/AndrewRook/NFLDash"><img style="height: 20px" src="../static/github-2048-black.png"></a></li>
						    <li><a href="https://twitter.com/__AndrewRook__"><img style="height: 20px" src="../static/twitter-solid.png"></a></li>
					    </ul>
				    </div><!--/.nav-collapse -->
			    </div>
		    </nav>

		    <div class ="container-fluid" role="main">
				    
			    <div class="jumbotron" style="background:white;padding-top:10px;">
					    <h2>Overview</h2>
					    NFLDash provides an intuitive, reactive dashboard to let you filter NFL plays by a wide variety of metrics in real-time. Pick an option from a pie chart menu and it will filter every chart by that option. Click and drag on a bar chart and select a range of values to filter by. Combine multiple filters to find interesting subsets of plays. You're limited only by your imagination, but here's a few ideas to get you started:
					    <br>
					    <br>
					    <ul>
						    <li>Find the biggest comebacks by filtering to plays where the win probability was less than 5% and selecting "Offense Won" from the Game Result dropdown.</li>
						    <li>Filter for clutch plays in the playoffs by setting Week to be > 17, Win Probability Added > 20%, and Quarter to be "Q4".</li>
						    <li>Select all successful 4th-down conversions by filtering on down and selecting "First Down" and "Touchdown" from the Play Result dropdown.</li>
						    <li>Relive all of the most heartbreaking Cleveland Browns moments by choosing them from the Team dropdown, filtering to when they were on offense, and then picking Win Probability Added values of -20% or less.</li>
						    <li>Find those rare interceptions that are actually beneficial to the offense by choosing "Interception" from the Play Result dropdown and filtering for Win Probability Added values > 0%.</li>
					    </ul>
					    
					    Once you've filtered down to plays you like, you can either inspect them in the table at the bottom of the dashboard (if you've filtered < 1000 plays) or by exporting the data to CSV for further analysis.
					    
					    <h2>How it Works</h2>
					    NFLDash uses play-by-play data downloaded by the <a href="https://github.com/BurntSushi/nfldb">nfldb package</a>, which covers all games from the 2009 season onward. While there are a few plays which have been misclassified, overall nfldb's accuracy is quite high. A Python script runs a custom query on the nfldb database, then outputs the results to a CSV file. Then, whenever someone loads the dashboard, several javascript libraries go to work, most notably:
					    <br>
					    <br>
					    <ul>
						    <li><a href="https://d3js.org/">D3</a> loads the data in and is responsible for the behind-the-scenes rendering of the charts.</li>
						    <li><a href="http://crossfilter.github.io/crossfilter/">Crossfilter</a> handles the fast, client-side indexing and filtering of the dataset.</li>
						    <li><a href="https://dc-js.github.io/dc.js/">dc.js</a> provides the glue between D3 and Crossfilter to easily create reactive charts which are connected to each other.</li>
					    </ul>
					    There's also a small amount of custom javascript (and some monkeypatching) to handle some idiosyncrasies in displaying the data most effectively, while <a href="http://getbootstrap.com/">Bootstrap</a> covers the styling. 
			    </div>
		    </div>
		
				
		    <footer class="loaded footer" style="display:none">
			    <div class="container text-center">
				    <p class="text-muted">Copyright 2016 Andrew Schechtman-Rook</p>
			    </div>
		    </footer>

	</body>
</html>
