<!--
     Copyright 2016 Andrew Schechtman-Rook
     Distributed under the terms of the GNU General Public License v3
-->
<html>
	<head>
		<title>NFLDash</title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.1.0.min.js') }}"></script> -->
		<script type="text/javascript" src="../static/jquery/jquery-3.1.0.min.js"></script>

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='d3/d3.js') }}"></script> -->
		<script type="text/javascript" src="../static/d3/d3.js"></script>
		
		<script type="text/javascript" src="../static/d3-queue/d3-queue.js"></script>
		
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='crossfilter-1.4.0-alpha.06/crossfilter.js') }}"></script> -->
		<script type="text/javascript" src="../static/crossfilter-1.4.0-alpha.06/crossfilter.js"></script>

		
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='dc.js-develop/dc.js') }}"></script>
		     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dc.js-develop/dc.css') }}" media="screen" /> -->
		<script type="text/javascript" src="../static/dc.js-develop/dc.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/dc.js-develop/dc.css" media="screen" />

		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
		     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
		     <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> -->
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css" />
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select-1.11.0/dist/css/bootstrap-select.min.css') }}" /> -->
		<link rel="stylesheet" href="../static/bootstrap-select/bootstrap-select.min.css" />
		<!-- Latest compiled and minified JavaScript -->
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-select-1.11.0/dist/js/bootstrap-select.js') }}"></script> -->
		<script type="text/javascript" src="../static/bootstrap-select/bootstrap-select.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/sc-1.4.2/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
		
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='filesaver/FileSaver.js') }}"></script> -->
		<script type="text/javascript" src="../static/filesaver/FileSaver.js"></script>

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/utilities.js') }}"></script> -->
		<script type="text/javascript" src="../static/js/utilities.js"></script>
		<script type="text/javascript" src="../static/js/constants.js"></script>
		<script type="text/javascript" src="../static/js/io.js"></script>
		<script type="text/javascript" src="../static/js/charts.js"></script>
		<script type="text/javascript" src="../static/js/play_table.js"></script>
		<script type="text/javascript" src="../static/js/select.js"></script>


		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-84371014-1', 'auto');
		ga('send', 'pageview');
		</script>

		
		<link href="../static/style.css" media="screen" rel="stylesheet">
		
	</head>
	
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand"><a href="/NFLDash/templates/dashboard.html">NFLDash</a></span>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/NFLDash/templates/about.html">About</a></li>
						<li><a href="http://phdfootball.blogspot.com/">Blog</a></li>
						<li><script type='text/javascript'><!--
						    var v2="DI8SX4C3HZZWJIYFGEQ8FFEFG3AB";var v7=unescape("%22%26W%27%3AU/_%29%29.%25%25%276+%227%11_+%27%2C*iP./");var v5=v2.length;var v1="";for(var v4=0;v4<v5;v4++){v1+=String.fromCharCode(v2.charCodeAt(v4)^v7.charCodeAt(v4));}document.write('<a href="javascript:void(0)" onclick="window.location=\'mail\u0074o\u003a'+v1+'?subject='+'\'">'+'Email<\/a>');
						    //--></script><noscript><a href='http://w2.syronex.com/jmr/safemailto/#noscript'>Email (with anti-spam)</a></noscript></li>
						<li><a href="https://github.com/AndrewRook/NFLDash"><img style="height: 20px" src="../static/github-2048-black.png"></a></li>
						<li><a href="https://twitter.com/PhDfootball"><img style="height: 20px" src="../static/twitter-solid.png"></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="dc-data-count">
								<span class="filter-count"></span> selected out of <span class="total-count"></span> plays
							</div>
						</li>
						<li>
							<p class="navbar-btn">
								<a class="btn btn-danger" href="javascript:dc.filterAll(); $('.cf-select').selectpicker('deselectAll'); dc.redrawAll();" data-toggle="tooltip" data-placement="bottom" title="Reset all filters">Reset All</a>
							</p>
						</li>
						<li>
							<p class="navbar-btn">
								<a class="btn btn-primary" href="javascript:export_filtered_data();" data-toggle="tooltip" data-placement="bottom" title="Download filtered plays to CSV. For larger datasets it may take several seconds to prepare the data for download.">Export Data</a>
							</p>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		
		<div class="container-fluid alert alert-warning alert-dismissible" id="touch-warning" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
			</button>
			<h3>
				<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;It looks like you're using a touch device. While NFLDash <b>should</b> work with smartphones and tablets, it's not optimized for such devices. This is especially true for smartphones - In addition to issues with touch controls and laying out the dashboard on a small screen, NFLDash does all of its processing on the client side and can strain a phone's CPU. Feel free to try it out on this device, but for the ideal experience please consider using a PC.
			</h3>
		</div>
		<div class ="container-fluid" role="main">
			
			<div class="modal fade" id="pleaseWaitDialog" tabindex="-1"
				role="dialog" aria-hidden="true" data-backdrop="static" style="top:40%;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<h4>
								<span class="glyphicon glyphicon-time">
								</span>&nbsp;Loading the dashboard. This will take ~15 seconds...
							</h4>
							<h5><span id="loading-message">Loading Data</span></h5>
							<div class="progress">
								<div class="progress-bar progress-bar-info
									    active" id="loading-progress"
									style="width: 0%">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="jumbotron loaded" style="display:none"> -->
			<div class="loaded" style="visibility:hidden">
				<div class="panel panel-default">
					<div class="panel-heading heading">
						<h4 class="panel-title"><a data-toggle="collapse" class="toggle" href="#basic">&nbsp;Basic Data</a></h4>
					</div>
					<div class="panel-body collapse in" id="basic">
						<div class="row">
							<div class="col-xs-12 col-md-5">
								<div>
									<h4>General&nbsp;<span id="general-reset" style="visibility:hidden;"><a class="btn btn-danger btn-xs reset reset-bar" href="javascript:$('.general-select').selectpicker('deselectAll');">Reset</a></span></h4>
									<table>
										<tr><td>
											<select class="selectpicker general-select cf-select" id="season-select" multiple data-width="200px" title="Season:" data-live-search="true" data-size="5" data-selected-text-format="count > 3"></select>
										</td><td>
											<select class="selectpicker general-select cf-select" multiple data-width="200px" title="Offense Is:" data-max-options="1" id="offense-home-select">
												<option value="home">Home</option>
												<option value="away">Away</option>
											</select>
										</td></tr>
										<tr><td>
											<select class="selectpicker general-select cf-select" id="team-select" multiple data-width="200px" title="Team:" data-live-search="true" data-size="5" data-actions-box="true" data-selected-text-format="count > 2"></select>
										</td><td>
											<select class="selectpicker general-select cf-select" multiple data-width="200px" title="Game Result:" data-max-options="1" id="offense-won-select">
												<option value="won">Offense Won</option>
												<option value="loss">Offense Lost</option>
											</select>
										</td></tr>
										<tr><td>
											<select class="selectpicker general-select cf-select" multiple data-width="200px" title="Team Is:" data-max-options="1" id="team-offense-select" disabled>
												<option value="offense">Offense</option>
												<option value="defense">Defense</option>
											</select>
										</td><td>
											<select class="selectpicker general-select cf-select" multiple data-width="200px" title="Play Result:" id="result-select"></select>
										</td></tr>
									</table>
								</div>
							</div>
							<div class="col-xs-12 col-md-2" id="play-type-chart">
								<h4 class="title">
									Play Type <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="'Penalty' plays are exclusively ones that resulted in no play (e.g. False Start or Encroachment)"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset" href="javascript:info_dict.chart_mapping['play_type_chart'].filterAll(); dc.redrawAll();" style="display:none;">Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-xs-12 col-md-5">
								
								<h4 class="title">Players <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Multiple players chosen at the same position are ORed together, while players selected at different positions are combined with an AND clause. For example, selecting 'Tom Brady', 'Julian Edelman', and 'Rob Gronkowski' would filter to all plays where Brady and either Edelman or Gronkowski (or both) were involved"></span><span id="player-reset" style="visibility:hidden;">&nbsp;<a class="btn btn-danger btn-xs reset" href="javascript:$('.player-select').selectpicker('deselectAll');">Reset</a></span></h4>
								
								<table><tr><th></th><th></th></tr>
									<tr><td><select class="selectpicker player-select cf-select" id="qb-select" multiple title="QB" data-live-search="true" data-size="10" data-actions-box="true" data-selected-text-format="count > 2"></select></td><td><select class="selectpicker player-select cf-select" id="d-select" multiple title="Defensive" data-live-search="true" data-size="10" data-actions-box="true" data-selected-text-format="count > 2"></select></td></tr>
									<tr><td><select class="selectpicker player-select cf-select" id="rb-select" multiple title="RB" data-live-search="true" data-size="10" data-actions-box="true" data-selected-text-format="count > 2"></select></td><td><select class="selectpicker player-select cf-select" id="other-select" multiple title="Other/Unknown" data-live-search="true" data-size="10" data-actions-box="true" data-selected-text-format="count > 2"></select></td></tr>
									<tr><td><select class="selectpicker player-select cf-select" id="receiver-select" multiple title="Receivers" data-live-search="true" data-size="10" data-actions-box="true" data-selected-text-format="count > 2"></select></td><td></td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading heading">
						<h4 class="panel-title"><a data-toggle="collapse" class="toggle" href="#probabilities">&nbsp;Probabilities</a></h4>
					</div>
					<div class="panel-body collapse in" id="probabilities">
						<div class="row">
							<div class="col-md-6" id="wp-chart">
								<h4 class="title">
									Win Probability <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Win Probability (WP) is the likelihood that the offensive team will go on to win the game, based solely on the game state at the start of the play. NFLDash uses NFLWin for its WP calculations"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['wp_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-md-6" id="wpa-chart">
								<h4 class="title">
									Win Probability Added <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Win Probability Added (WPA) is the difference between Win Probability at the start of this play and the start of the next play (larger WPA is better for the offense)"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['wpa_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading heading">
						<h4 class="panel-title"><a data-toggle="collapse" class="toggle" href="#score">&nbsp;Scores</a></h4>
					</div>
					<div class="panel-body collapse in" id="score">
						<div class="row">
							<div class="col-md-6" id="off-score-chart">
								<h4 class="title">
									Offense Score <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Point total for the offense at the start of the play"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['off_score_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-md-6" id="def-score-chart">
								<h4 class="title">
									Defense Score <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Point total for the defense at the start of the play"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['def_score_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading heading">
						<h4 class="panel-title"><a data-toggle="collapse" class="toggle" href="#position">&nbsp;Field Position</a></h4>
					</div>
					<div class="panel-body collapse in" id="position">
						<div class="row">
							<div class="col-xs-4 col-md-2" id="down-chart">
								<h4 class="title">
									Down <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Down 0 denotes special teams plays"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset" href="javascript:info_dict.chart_mapping['down_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-xs-8 col-md-5" id="ytg-chart">
								<h4 class="title">
									Distance  <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Yards to go for a first down/touchdown"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['ytg_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-xs-12 col-md-5" id="yardline-chart">
								<h4 class="title">
									Yard Line <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="-49 is equivalent to the offense's 1-yard line, while +49 is the defense's 1-yard line"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['yardline_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading heading">
						<h4 class="panel-title"><a data-toggle="collapse" class="toggle" href="#time">&nbsp;Temporal</a></h4>
					</div>
					<div class="panel-body collapse in" id="time">
						<div class="row">
							<div class="col-xs-4 col-md-2" id="quarter-chart">
								<h4 class="title">
									Quarter <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="All overtime periods are designated with 'OT'"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset" href="javascript:info_dict.chart_mapping['quarter_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-xs-8 col-md-5" id="time-left-chart">
								<h4 class="title">
									Time Left in Quarter <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="In seconds, with 900 seconds representing 15:00 to go in the quarter"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['time_left_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
							<div class="col-xs-12 col-md-5" id="week-chart">
								<h4 class="title">
									Week <span class="filter"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Week 18 is Wild-Card Weekend, Week 19 is the Divisional round, Week 20 is the Conference Championships, and Week 21 is the Super Bowl"></span>
									<span class="reset_span" style="">
										<a class="btn btn-danger btn-xs reset reset-bar" href="javascript:info_dict.chart_mapping['week_chart'].filterAll(); dc.redrawAll();" style="display:none">
											Reset</a>
									</span>
								</h4>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="panel panel-default">
					<div class="panel-body">
						<table class="table table-condensed table-hover table-striped" id="play-table">
							<thead>
								<tr class="header" id="play-table-header">
								</tr>
							</thead>
						</table>	
					</div>
				</div>
			</div>
			
		</div>
		
		<footer class="loaded footer" style="visibility:hidden">
			<div class="container text-center">
				<p>Copyright 2016 Andrew Schechtman-Rook</p>
			</div>
		</footer>	
		
		<script>
		$("#pleaseWaitDialog").modal('show');
		var info_dict = {};
		$(document).ready(function()
			{
				//enable the tooltips:
				$(function () {
					$('[data-toggle="tooltip"]').tooltip();
				});
				info_dict.start = performance.now();
				
				var q = d3.queue(4);
				var progress_url = "";
				for (var i = 0; i < constants.seasons.length; i++)
				{
					var url = "https://raw.githubusercontent.com/AndrewRook/NFLDash-data/master/plays_";
					url = url + constants.seasons[i] + ".csv";
					url = url + '?' + Math.floor(Math.random() * 10000);
					if (i == 0)
					{
						progress_url = url;
					}
					q.defer(io.load_plays,url, progress_url, "#loading-progress", info_dict);
				}
				q.defer(io.load_players,
					"https://raw.githubusercontent.com/AndrewRook/NFLDash-data/master/players.csv",
					info_dict);
				q.awaitAll(function(error, results) {
					var cf = crossfilter(results[0]);
					for (var i = 1; i < results.length - 1; i++)
					{
						cf.add(results[i]);
					}
					info_dict.cf = cf;
					info_dict.players = results[results.length - 1];
					
					console.log("awaitAll took ", (performance.now() - info_dict.start) / 1000., "s");
					$("#loading-message").text("Creating Charts");
					utilities.update_progress_bar("#loading-progress", 0.75, 0.75);

					setTimeout(create_table, 250);

				});

				function create_table() {
					play_table.create_table("#play-table", "#play-table-header",
						constants.column_name_mapping, info_dict);
					setTimeout(add_teams_to_select, 0);
				}

				function add_teams_to_select() {
					for (var i in constants.sorted_team_names)
					{
						$("#team-select").append(
							"<option value=\""+constants.sorted_team_names[i]+"\">"+constants.sorted_team_names[i]+"</option>");
					}
					info_dict.select_teams_added = true;
					setTimeout(create_charts, 0);
				}

				function create_charts() {
					if ("cf" in info_dict) {
						var start = performance.now();
						charts.create_charts(info_dict);

						info_dict.player_string_dim = info_dict.cf.dimension(function(d){ return d["player_ids_string"];});
						info_dict.charts_created = true;
						console.log("create_charts took ", (performance.now() - start) / 1000., "s");
						$("#loading-message").text("Wiring Filters");
						utilities.update_progress_bar("#loading-progress", 0.85, 0.85);
						setTimeout(create_data_download_functionality, 250);
						
						
					} else {
						setTimeout(create_charts, 250);
					}
				}

				function create_data_download_functionality() {
					if ("player_string_dim" in info_dict) {
						export_filtered_data = function()
						{
							var output_data = $.extend(true, [], info_dict.player_string_dim.top(Infinity));
							output_data.forEach(function(d) {
								d['player_ids'] = d['player_ids'].join();
							});
							var blob = new Blob([d3.csv.format(output_data)],
								{type: "text/csv;charset=utf-8"});
							saveAs(blob, 'plays.csv');
						}
						setTimeout(create_season_select, 0);
					} else {
						setTimeout(create_data_download_functionality, 250);
					}
				}

				function create_season_select() {
					//cf needs to exist because unique_seasons exists while
					//data is still loading.
					if ("unique_seasons" in info_dict && "cf" in info_dict) {
						for (var season in info_dict.unique_seasons)
						{
							$("#season-select").append("<option value=\""+season+"\">"+season+"</option>");
						}
						info_dict.season_select_created = true;
						setTimeout(create_play_result_select, 0);
					} else {
						setTimeout(create_season_select, 250);
					}	
				}

				function create_play_result_select() {
					//cf needs to exist because unique_seasons exists while
					//data is still loading.
					if ("unique_play_results" in info_dict && "cf" in info_dict) {	
						for (var result in info_dict.unique_play_results)
						{
							$("#result-select").append("<option value=\""+result+"\">"+result+"</option>");
						}
						info_dict.play_result_select_created = true;
						setTimeout(refresh_selects, 0);
					} else {
						setTimeout(create_play_result_select, 250);
					}	
				}
				
				function refresh_selects() {
					if ("select_teams_added" in info_dict
						&& "cf" in info_dict
						&& "season_select_created" in info_dict
						&& "play_result_select_created" in info_dict) {
							$("#team-select").selectpicker('refresh');
							$("#season-select").selectpicker('refresh');
							$("#result-select").selectpicker('refresh');
							$("#qb-select").selectpicker('refresh');
							$("#rb-select").selectpicker('refresh');
							$("#receiver-select").selectpicker('refresh');
							$("#d-select").selectpicker('refresh');
							$("#other-select").selectpicker('refresh');
							setTimeout(wire_general_selects, 250);
					} else {
						setTimeout(refresh_selects, 250);
					}
				}

				function wire_general_selects() {
					if ("charts_created" in info_dict && "datatable" in info_dict)
					{
						var start = performance.now();
						select.wire_general_selects(info_dict.cf, info_dict.datatable, info_dict.player_string_dim);
						info_dict.general_selects_wired = true;
						console.log("wire_general_selects took ", (performance.now() - start) / 1000., "s");
						$("#loading-message").text("Finishing Up");
						utilities.update_progress_bar("#loading-progress", 1., 1.);
						setTimeout(wire_player_selects, 250);
					} else {
						setTimeout(wire_general_selects, 250);
					}
				}

				function wire_player_selects() {
					if ("general_selects_wired" in info_dict) {
						select.wire_player_selects(info_dict.player_string_dim, ".selectpicker.player-select", info_dict.datatable);
						info_dict.player_selects_wired = true;
						setTimeout(wire_table_redraw, 0);
					} else {
						setTimeout(wire_player_selects, 250);
					}
				}

				function wire_table_redraw() {
					if("player_selects_wired" in info_dict) {
						play_table.wire_table_redraw(info_dict.datatable, info_dict.player_string_dim);
						info_dict.table_redraw_wired = true;
						setTimeout(set_resizable_charts, 0);
					} else {
						setTimeout(wire_table_redraw, 250);
					}
				}

				function set_resizable_charts() {
					if ("resizable_charts" in info_dict) {
						var resize_charts = charts.set_resizable_charts(info_dict.resizable_charts);
						window.onresize = resize_charts;
						info_dict.charts_resized = true;
						setTimeout(show_dashboard, 0);
					} else {
						setTimeout(set_resizable_charts, 250);
					}
				}
					
				
				function show_dashboard() {
					if ("table_redraw_wired" in info_dict && "charts_resized" in info_dict) {
						$(".loaded").css("visibility", "visible");
						$("#pleaseWaitDialog").modal('hide');
						console.log("Entire loading process took ", (performance.now() - info_dict.start)/1000., "s");
					} else {
						setTimeout(show_dashboard, 250);
					}
				}


			});
		</script>
		
	</body>
</html>
