
<html>
	<head>
		<title></title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">

		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.1.0.min.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='d3/d3.js') }}"></script>
		
		<script type="text/javascript" src="{{ url_for('static', filename='crossfilter-1.4.0-alpha.06/crossfilter.js') }}"></script>

		
		<script type="text/javascript" src="{{ url_for('static', filename='dc.js-develop/dc.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dc.js-develop/dc.css') }}" media="screen" />
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='dc/dc.js') }}"></script>
		     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dc/dc.css') }}" media="screen" /> -->

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

		<!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select-1.11.0/dist/css/bootstrap-select.min.css') }}" />
		<!-- Latest compiled and minified JavaScript -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-select-1.11.0/dist/js/bootstrap-select.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/utilities.js') }}"></script>

	</head>
	
	<body>
		<div class ="container" role="main">
		<div class="jumbotron dc-data-count" style="float:left;">
			<span class="filter-count"></span>
			selected out of <span class="total-count"></span>
			<a href="javascript:dc.filterAll(); dc.redrawAll();">Reset All</a>
			<div class="row">
				<div class="col-md-6" id="ytg-chart">
				<h4>
					Yards to Go
					<span class="reset_span" style="font-size:10px; font-weight: normal;">
						<a class="reset" href="javascript:ytg_chart.filterAll(); dc.redrawAll();" style="display:none">
							reset chart</a>
					</span>
				</h4>
				</div>
				<div class="col-md-6" id="yardline-chart">
				<h4>
					Yard Line (-1 = own 1-yard line)
					<span class="reset_span" style="font-size:10px; font-weight: normal;">
						<a class="reset" href="javascript:yardline_chart.filterAll(); dc.redrawAll();" style="display:none">
							reset chart</a>
					</span>
				</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5" id="drive-chart">
				<h4>
					Drive Number
					<span class="reset_span" style="font-size:10px; font-weight: normal;">
						<a class="reset" href="javascript:drive_chart.filterAll(); dc.redrawAll();" style="display:none">
							reset chart</a>
					</span>
				</h4>
				</div>
				<div class="col-md-2" id="quarter-chart">
				<h4>
					Quarter
					<span class="reset_span" style="font-size:10px; font-weight: normal;">
						<a class="reset" href="javascript:quarter_chart.filterAll(); dc.redrawAll();" style="display:none">
							reset chart</a>
					</span>
				</h4>
				</div>
				<div class="col-md-5" id="time-left-chart">
				<h4>
					Time Left in Quarter
					<span class="reset_span" style="font-size:10px; font-weight: normal;">
						<a class="reset" href="javascript:time_left_chart.filterAll(); dc.redrawAll();" style="display:none">
							reset chart</a>
					</span>
				</h4>
				</div>
				
			</div>
			<div class="row">
				<h4>Players</h4>
				<div class="row col-md-4">
					<div id="qb-select"></div>
					<div id="rb-select"></div>
				</div>
				<div class="row col-md-4">
					<div id="receiver-select"></div>
					<div id="ol-select"></div>
				</div>
				<div class="row col-md-4">
					<div id="d-select"></div>
					<div id="unk-select"></div>
				</div>
				
			</div>
			</div>
		</div>

		<script>
		var ytg_chart = null;
		var yardline_chart = null;
		var drive_chart = null;
		var quarter_chart = null;
		var time_left_chart = null;
		var qb_chart = null;
		var receiver_chart = null;
		var rb_chart = null;
		var ol_chart = null;
		var d_chart = null;
		var unknown_chart = null;
		
		$(document).ready(function()
			{
				var player_dict = {};
				d3.csv("{{ url_for('static', filename='players.csv') }}", function(row)
					{
						player_dict[row.player_id] = {"name": row.full_name, "position": row.position};
						return row;
					}, function(junk)
					{	
						d3.csv("{{ url_for('static', filename='plays.csv') }}" + '?' + Math.floor(Math.random() * 10000), function(row)
							{
								//console.log(row.player_ids, row.player_ids.length);
								row.player_ids = row.player_ids.replace(/[ \'u\[\]]/g, '').split(",");
								row.drive_id = +row.drive_id;
								row.yardline = +row.yardline;
								row.yards_to_go = +row.yards_to_go;
								row.seconds_elapsed = +row.seconds_elapsed;
								row.seconds_left = 900 - row.seconds_elapsed;
								output_row = {'player_ids': row.player_ids,
									'drive_id': row.drive_id,
									'yardline': row.yardline,
									'yards_to_go': row.yards_to_go,
									'seconds_left': row.seconds_left,
									'quarter': row.quarter,
									'description': row.description
									};
								//console.log(row);
								return output_row;
							},
							function(data)
							{

								console.log(data.length);
								console.log(data[0]);
								var cf = crossfilter(data);

								var all_grp = cf.groupAll();
								dc.dataCount('.dc-data-count')
									.dimension(cf)
									.group(all_grp);
								
								// Yards to go bar
								ytg_chart = make_barchart(cf, "yards_to_go", "#ytg-chart", 500, 200, 1);
								
								//Yardline bar
								yardline_chart = make_barchart(cf, "yardline", "#yardline-chart", 500, 200, 1);
								
								//Drive bar
								drive_chart = make_barchart(cf, "drive_id", "#drive-chart", 400, 200, 1);

								//quarter chart
								quarter_chart = make_piechart(cf, "quarter", "#quarter-chart", 80, 10);

								//time left bar
								time_left_chart = make_barchart(cf, "seconds_left", "#time-left-chart", 400, 200, 10);
								
								
								qb_chart = make_player_selector(cf, "QB", "#qb-select", player_dict);
								 /*  rb_chart = make_player_selector(cf, "RB", "#rb-select");
								   receiver_chart = make_player_selector(cf, ["WR", "TE"], "#receiver-select");
								   ol_chart = make_player_selector(cf, ["T", "OG", "C"], "#ol-select");
								   d_chart = make_player_selector(cf, ["DE", "DT", "LB", "CB", "MLB", "NT"], "#d-select");
								   unk_chart = make_player_selector(cf, "UNK", "#unk-select"); */
								
								dc.renderAll();
								/* 
								   render_selectors(["#qb-select", "#rb-select", "#receiver-select", "#ol-select", "#d-select", "#unk-select"],
								   ["qb_chart", "rb_chart", "receiver_chart", "ol_chart", "d_chart", "unk_chart"],
								   ["QBs", "RBs", "Receivers", "OLs", "Defense", "Unknown"]); */
								   render_selectors(["#qb-select"],
								   ["qb_chart"],
								   ["QBs"]);
							});
						
					});
			});
		</script>
	</body>
</html>
