
<html>
	<head>
		<title></title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.1.0.min.js') }}"></script> -->
		<script type="text/javascript" src="../static/jquery/jquery-3.1.0.min.js"></script>

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='d3/d3.js') }}"></script> -->
		<script type="text/javascript" src="../static/d3/d3.js"></script>
		
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='crossfilter-1.4.0-alpha.06/crossfilter.js') }}"></script> -->
		<script type="text/javascript" src="../static/crossfilter-1.4.0-alpha.06/crossfilter.js"></script>

		
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='dc.js-develop/dc.js') }}"></script>
		     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dc.js-develop/dc.css') }}" media="screen" /> -->
		<script type="text/javascript" src="../static/dc.js-develop/dc.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/dc.js-develop/dc.css" media="screen" />

		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
		     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
		     <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> -->
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css" />
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select-1.11.0/dist/css/bootstrap-select.min.css') }}" /> -->
		<link rel="stylesheet" href="../static/bootstrap-select/bootstrap-select.min.css" />
		<!-- Latest compiled and minified JavaScript -->
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-select-1.11.0/dist/js/bootstrap-select.js') }}"></script> -->
		<script type="text/javascript" src="../static/bootstrap-select/bootstrap-select.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/sc-1.4.2/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
		
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='filesaver/FileSaver.js') }}"></script> -->
		<script type="text/javascript" src="../static/filesaver/FileSaver.js"></script>

		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/utilities.js') }}"></script> -->
		<script type="text/javascript" src="../static/js/utilities.js"></script>


		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-84371014-1', 'auto');
		ga('send', 'pageview');
		</script>

		
		<style>
		body {
			padding-top: 50px;
		}
		.glyphicon {
			font-size: 14px;
		}
		</style>

	</head>
	
	<body>
		    <nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container">
				    <div class="navbar-header">
					    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						    <span class="sr-only">Toggle navigation</span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </button>
					    <span class="navbar-brand"><a href="/templates/dashboard.html">NFLDash</a></span>
				    </div>
				    <div id="navbar" class="navbar-collapse collapse">
					    <ul class="nav navbar-nav">
						    <li><a href="#about">About</a></li>
						    <li><a href="https://github.com/AndrewRook/NFLDash">GitHub</a></li>
						    <li><a href="http://phdfootball.blogspot.com/">Blog</a></li>
						    <li><a href="https://twitter.com/PhDfootball">Twitter</a></li>
					    </ul>
					    <ul class="nav navbar-nav navbar-right">
						    <li>
							    <div class="dc-data-count">
								    <span class="filter-count"></span> selected out of <span class="total-count"></span> plays
							    </div>
						    </li>
						    <li>
							    <p class="navbar-btn">
								    <a class="btn btn-danger" href="javascript:dc.filterAll(); $('.cf-select').selectpicker('deselectAll'); dc.redrawAll();" data-toggle="tooltip" data-placement="bottom" title="Reset all filters">Reset All</a>
							    </p>
						    </li>
						    <li><a href="javascript:export_filtered_data();" data-toggle="tooltip" data-placement="bottom" title="Download filtered plays to CSV. For larger datasets it may take several seconds to prepare the data for download.">Export Data</a></li>
					    </ul>
				    </div><!--/.nav-collapse -->
			    </div>
		    </nav>

		
		<div class ="container" role="main">
			<div class="jumbotron"><!-- style="float:left;">-->
				<div class="row">
					<div class="col-md-3">
						<div>
							<h4>General</h4>
							Season: <select class="selectpicker cf-select" id="season-select" multiple data-live-search="true" data-size="5" data-actions-box="true"></select>
							Home Team: <select class="selectpicker cf-select" id="home-team-select" multiple data-live-search="true" data-size="5" data-actions-box="true"></select>
							Away Team: <select class="selectpicker cf-select" id="away-team-select" multiple data-live-search="true" data-size="5" data-actions-box="true"></select>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<h4 style="visibility:hidden;"">General:</h4>
							Offense Is:
							<select class="selectpicker cf-select" multiple data-max-options="1" id="offense-home-select">
								<option value="home">Home</option>
								<option value="away">Away</option>
							</select>
							Game Result:
							<select class="selectpicker cf-select" multiple data-max-options="1" id="offense-won-select">
								<option value="won">Offense Won</option>
								<option value="loss">Offense Lost</option>
							</select>
						</div>
					</div>
					<div class="col-md-6" id="week-chart">
						<h4>
							Week <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Week 18 is Wild-Card Weekend, Week 19 is the Divisional round, Week 20 is the Conference Championships, and Week 21 is the Super Bowl"></span>
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:week_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6" id="wp-chart">
						<h4>
							Win Probability <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Win Probability (WP) is the likelihood that the offensive team will go on to win the game, based solely on the game state at the start of the play. NFLDash uses NFLWin for its WP calculations"></span>
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:wp_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
					<div class="col-md-6" id="wpa-chart">
						<h4>
							Win Probability Added <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Win Probability Added (WPA) is the difference between Win Probability at the start of this play and the start of the next play (larger WPA is better for the offense)"></span>
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:wpa_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2" id="down-chart">
						<h4>
							Down <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Down 0 denotes special teams plays"></span>
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:down_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
					<div class="col-md-5" id="ytg-chart">
						<h4>
							Distance
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:ytg_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
					<div class="col-md-5" id="yardline-chart">
						<h4>
							Yard Line <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="-49 is equivalent to the offense's 1-yard line, while +49 is the defense's 1-yard line"></span>
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:yardline_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2" id="quarter-chart">
						<h4>
							Quarter
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:quarter_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
					<div class="col-md-5" id="time-left-chart">
						<h4>
							Time Left in Quarter <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="In seconds, with 900 seconds representing 15:00 to go in the quarter"></span>
							<span class="reset_span" style="font-size:10px; font-weight: normal;">
								<a class="reset" href="javascript:time_left_chart.filterAll(); dc.redrawAll();" style="display:none">
									reset chart</a>
							</span>
						</h4>
					</div>
					<div class="col-md-5">
						<h4>Player <span id="player-reset" style="font-size:10px; font-weight:normal; visibility:hidden;"><a href="javascript:$('.player-select').selectpicker('deselectAll');">reset players</a></span></h4>
						<table><tr><th></th><th></th></tr>
							<tr><td><select class="selectpicker player-select cf-select" id="qb-select" multiple title="QB" data-live-search="true" data-size="10" data-actions-box="true"></select></td><td><select class="selectpicker player-select cf-select" id="d-select" multiple title="Defensive" data-live-search="true" data-size="10" data-actions-box="true"></select></td></tr>
							<tr><td><select class="selectpicker player-select cf-select" id="rb-select" multiple title="RB" data-live-search="true" data-size="10" data-actions-box="true"></select></td><td><select class="selectpicker player-select cf-select" id="other-select" multiple title="Other/Unknown" data-live-search="true" data-size="10" data-actions-box="true"></select></td></tr>
							<tr><td><select class="selectpicker player-select cf-select" id="receiver-select" multiple title="Receivers" data-live-search="true" data-size="10" data-actions-box="true"></select></td><td></td></tr>
						</table>
					</div>
					
				</div>
				<hr>
				<div class="row">
					<table class="table table-condensed table-hover table-striped" id="play-table">
						<thead>
							<tr class="header" id="play-table-header">
							</tr>
						</thead>
					</table>
				</div>
						
			</div>
		</div>
		
		<script>
		var wp_chart = null;
		var wpa_chart = null;
		var ytg_chart = null;
		var yardline_chart = null;
		var drive_chart = null;
		var quarter_chart = null;
		var time_left_chart = null;

		var team_mapping = {
			"NYJ": "New York Jets",
			"BUF": "Buffalo Bills",
			"NE": "New England Patriots",
			"MIA": "Miami Dolphins",
			"CLE": "Cleveland Browns",
			"CIN": "Cincinnati Bengals",
			"PIT": "Pittsburgh Steelers",
			"BAL": "Baltimore Ravens",
			"DEN": "Denver Broncos",
			"KC": "Kansas City Chiefs",
			"SD": "San Diego Chargers",
			"OAK": "Oakland Raiders",
			"JAC": "Jacksonville Jaguars",
			"IND": "Indianapolis Colts",
			"HOU": "Houston Texans",
			"TEN": "Tennessee Titans",
			"NYG": "New York Giants",
			"WAS": "Washington",
			"PHI": "Philadelphia Eagles",
			"DAL": "Dallas Cowboys",
			"GB": "Green Bay Packers",
			"MIN": "Minnesota Vikings",
			"CHI": "Chicago Bears",
			"DET": "Detroit Lions",
			"SEA": "Seattle Seahawks",
			"ARI": "Arizona Cardinals",
			"SF": "San Francisco 49ers",
			"STL": "St. Louis/Los Angeles Rams",
			"LA": "St. Louis/Los Angeles Rams",
			"NO": "New Orleans Saints",
			"ATL": "Atlanta Falcons",
			"TB": "Tampa Bay Buccaneers",
			"CAR": "Carolina Panthers"
		};
		var sorted_team_names = [];
		for (var key in team_mapping)
		{
			sorted_team_names.push(team_mapping[key]);
		}
		sorted_team_names = sorted_team_names.sort();
			
		var column_name_mapping = [
			["Season", "season_year", "9%"],
			["Week", "week", "6%"],
			["Off", "offense_team_abbrev", "6%"],
			["Def", "defense_team_abbrev", "6%"],
			["Qtr", "quarter", "6%"],
			["Yardline", "yardline_text", "9%", "yardline"],
			["Down", "down", "7%"],
			["Dist", "yards_to_go", "7%"],
			["Description", "description", "44%"]];

		var export_filtered_data;
		
		
		$(document).ready(function()
			{
				$(function () {
					$('[data-toggle="tooltip"]').tooltip()
				});

				
				var player_dict = {};
				var unique_seasons = {};
				//d3.csv("{{ url_for('static', filename='players.csv') }}", function(row)
				d3.csv("https://raw.githubusercontent.com/AndrewRook/NFLDash-data/master/players.csv", function(row)
					{
						player_dict[row.player_id] = {"name": row.full_name, "position": row.position};
						return row;
					}, function(player_data)
					{	
						//d3.csv("{{ url_for('static', filename='sample_plays.csv') }}" + '?' + Math.floor(Math.random() * 10000), function(row)
						d3.csv("https://raw.githubusercontent.com/AndrewRook/NFLDash-data/master/sample_plays.csv" + '?' + Math.floor(Math.random() * 10000), function(row)
							{
								//console.log(row.player_ids, row.player_ids.length);
								row.player_ids = row.player_ids.replace(/[ \'u\[\]]/g, '').split(",");
								row.seconds_left = 900 - +row.seconds_elapsed;
								var yardline_text = "Opp " + (50 - +row.yardline).toString();
								if (+row.yardline == 0)
								{
									yardline_text = "50";
								}
								else if (+row.yardline < 0)
								{
									yardline_text = "Own " + (+row.yardline + 50).toString();
								}

								var defense_team = row.away_team;
								if (row.offense_team == row.away_team)
								{
									defense_team = row.home_team;
								}
								var week = +row.week;
								if(week > 21)
								{
									week = 21; //ignore bye week before superbowl
								}
								unique_seasons[row.season_year] = 1
								output_row = {'player_ids': row.player_ids,
									'drive_id': +row.drive_id,
									'week': week,
									'season_year': +row.season_year,
									'yardline': +row.yardline,
									'yardline_text': yardline_text,
									'down': +row.down,
									'yards_to_go': +row.yards_to_go,
									'seconds_left': +row.seconds_left,
									'quarter': row.quarter,
									'description': row.description,
									'wp': +row.wp*100,
									'wpa': +row.wpa*100,
									'home_team': team_mapping[row.home_team],
									'away_team': team_mapping[row.away_team],
									'offense_team': team_mapping[row.offense_team],
									'offense_team_abbrev': row.offense_team,
									'defense_team_abbrev': defense_team,
									'offense_won': row.offense_won
									};
								//console.log(row);
								return output_row;
							},
							function(data)
							{

								console.log(data.length);
								console.log(data[0]);
								var cf = crossfilter(data);

								var all_grp = cf.groupAll();
								dc.dataCount('.dc-data-count')
									.dimension(cf)
									.group(all_grp);

								// WP bar
								wp_chart = make_barchart(cf, "wp", "#wp-chart", 500, 200, 1, 'linear');

								// WPA bar
								wpa_chart = make_barchart(cf, "wpa", "#wpa-chart", 500, 200, 0.5, 'sqrt');
								//wpa_chart.yAxis().tickFormat(function(v) {return v / 1000;});

								down_chart = make_piechart(cf, "down", "#down-chart", 80, 10);
								   
								   // Yards to go bar
								ytg_chart = make_barchart(cf, "yards_to_go", "#ytg-chart", 450, 200, 1, 'sqrt');
								   
								   //Yardline bar
								yardline_chart = make_barchart(cf, "yardline", "#yardline-chart", 450, 200, 1, 'linear');
								   
								   //Drive bar
								//drive_chart = make_barchart(cf, "drive_id", "#drive-chart", 400, 200, 1, 'linear');

								   //quarter chart
								quarter_chart = make_piechart(cf, "quarter", "#quarter-chart", 80, 10);

								   //time left bar
								time_left_chart = make_barchart(cf, "seconds_left", "#time-left-chart", 450, 200, 30, 'linear');

								//week chart
								week_chart = make_barchart(cf, "week", "#week-chart", 500, 200, 1, 'linear');


								dc.renderAll();
								
								var player_dim = cf.dimension(function(d){ return d["player_ids"];});
								
								var column_def_list = [];
								var column_count = 0;
								for (var i = 0; i < column_name_mapping.length; i++)
								{
									$("#play-table-header").append("<th>"+column_name_mapping[i][0]+"</th>");
									var tempfunc = (
										function(i)
										{
											return function(d)
											{
												return d[column_name_mapping[i][1]];
											}
										} )(i);
									var param_dict = {
										targets: i,
										width: column_name_mapping[i][2],
										data: tempfunc
									};
									if (column_name_mapping[i].length > 3)
									{
										param_dict["type"] = column_name_mapping[i][3];
									}
									column_def_list.push(param_dict);
									column_count = column_count + 1;
								}
								var play_table_options = {
									autoWidth: false,
									columnDefs: column_def_list,
									language: {"emptyTable": "Too many plays to display (> 1000)"}
								};
								var datatable = $("#play-table").dataTable(play_table_options);

								for (var i in sorted_team_names)
								{
									$("#home-team-select").append("<option value=\""+sorted_team_names[i]+"\">"+sorted_team_names[i]+"</option>");
									$("#away-team-select").append("<option value=\""+sorted_team_names[i]+"\">"+sorted_team_names[i]+"</option>");
								}
								$("#home-team-select").selectpicker('refresh'); 
								$("#away-team-select").selectpicker('refresh');

								var home_team_dim = make_team_season_selector(cf, "#home-team-select", "home_team", datatable, player_dim);
								var away_team_dim = make_team_season_selector(cf, "#away-team-select", "away_team", datatable, player_dim);

								var offense_home_dim = make_home_selector(cf, "#offense-home-select",
									"home_team", "offense_team", datatable, player_dim);

								var offense_won_dim = make_offense_won_selector(cf, "#offense-won-select",
									"offense_won", datatable, player_dim);

								var season_dim = make_team_season_selector(cf, "#season-select", "season_year", datatable, player_dim);
								for (var season in unique_seasons)
								{
									$("#season-select").append("<option value=\""+season+"\">"+season+"</option>");
								}
								$("#season-select").selectpicker('refresh');

								for (var i in player_data)
								{
									if (player_data[i]["position"] == "QB")
									{
										$("#qb-select").append("<option value=\""+player_data[i]["player_id"]+"\">"+player_data[i]["full_name"]+"</option>");
									}
									else if (player_data[i]["position"] == "RB" || player_data[i]["position"] == "FB")
									{
										$("#rb-select").append("<option value=\""+player_data[i]["player_id"]+"\">"+player_data[i]["full_name"]+"</option>");
									}
									else if (player_data[i]["position"] == "WR" || player_data[i]["position"] == "TE")
									{
										$("#receiver-select").append("<option value=\""+player_data[i]["player_id"]+"\">"+player_data[i]["full_name"]+"</option>");
									}
									else if (player_data[i]["position"] == "DE" || player_data[i]["position"] == "DT" || player_data[i]["position"] == "LB" || player_data[i]["position"] == "CB" || player_data[i]["position"] == "DB" || player_data[i]["position"] == "FS" || player_data[i]["position"] == "ILB" || player_data[i]["position"] == "MLB" || player_data[i]["position"] == "NT" || player_data[i]["position"] == "OLB" || player_data[i]["position"] == "SS")
									{
										$("#d-select").append("<option value=\""+player_data[i]["player_id"]+"\">"+player_data[i]["full_name"]+"</option>");
									}
									else
									{
										$("#other-select").append("<option value=\""+player_data[i]["player_id"]+"\">"+player_data[i]["full_name"]+"</option>");
									}
								}
								$("#qb-select").selectpicker('refresh');
								$("#rb-select").selectpicker('refresh');
								$("#receiver-select").selectpicker('refresh');
								$("#d-select").selectpicker('refresh');
								$("#other-select").selectpicker('refresh');
								make_player_selector(player_dim, ".selectpicker.player-select", datatable);


								var curryed_refreshtable = (
									function(datatable, player_dim)
									{
										return function()
										{
											return RefreshTable(datatable, player_dim);
										}
									})(datatable, player_dim);
								for (var i = 0; i < dc.chartRegistry.list().length; i++) {
									var chartI = dc.chartRegistry.list()[i];
									chartI.on("filtered", curryed_refreshtable);
								}
								RefreshTable(datatable, player_dim);

								export_filtered_data = function()
								{
									var output_data = $.extend(true, [], player_dim.top(Infinity));
									output_data.forEach(function(d) {
										d['player_ids'] = d['player_ids'].join();
									});
									var blob = new Blob([d3.csv.format(output_data)],
										{type: "text/csv;charset=utf-8"});
									saveAs(blob, 'plays.csv');
								}
								
							});
						
					});
			});
		</script>
	</body>
</html>
