
<html>
	<head>
		<title></title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">

		<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.1.0.min.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='d3/d3.js') }}"></script>
		
		<script type="text/javascript" src="{{ url_for('static', filename='crossfilter-1.4.0-alpha.06/crossfilter.js') }}"></script>

		
		<script type="text/javascript" src="{{ url_for('static', filename='dc/dc.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dc/dc.css') }}" media="screen" />

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

	</head>
	
	<body>
		
		<span>
			<div id="ytg-chart"></div>
			<div id="player-chart"></div>
			<div class="list-group" id="player-list">
			</div>
		</span>

		<script>
		$(document).ready(function()
			{
				d3.csv("{{ url_for('static', filename='wooo.csv') }}", function(row)
					{
						//console.log(row.player_ids, row.player_ids.length);
						row.player_ids = row.player_ids.replace(/[ \'u\[\]]/g, '').split(",");
						return row;
					},
					function(data)
					{
						console.log(data[0]);
						
						
						function reduceAdd(p, v) {
							v.player_ids.forEach (function(val, idx) {
								p[val] = (p[val] || 0) + 1; //increment counts
							});
							return p;
						}
						
						function reduceRemove(p, v) {
							v.player_ids.forEach (function(val, idx) {
								p[val] = (p[val] || 0) - 1; //decrement counts
							});
							return p; 
						}
						
						function reduceInitial() { return {}; }
						
						var cf = crossfilter(data);
						
						// YARDS TO GO PIE
						var ytg_dim = cf.dimension(function(d){ return d.yards_to_go;});
						var ytg_group = ytg_dim.group();
						var ytg_chart = dc.pieChart("#ytg-chart");
						
						ytg_chart
							.dimension(ytg_dim)
							.group(ytg_group)
							.width(200).height(200).innerRadius(50);

						var player_dim = cf.dimension(function(d){ return d.player_ids;}, true);
						var player_group = player_dim.group();
						console.log(player_group.top(5)[0]);
						var player_chart = dc.rowChart("#player-chart");
						player_chart
							.dimension(player_dim)
							.group(player_group)
							.width(300).height(250)
							.colors(['#1f77b4']).colorAccessor(function(d, i){ return i; })
							.xAxis().ticks(1);
						
						
						dc.renderAll();
					});
				
			});
		</script>
	</body>
</html>
